body{
    background-image: url("https://cdn.dribbble.com/users/96166/screenshots/3966217/highspeed-800x600.gif");
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 40px;
}
label{
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}
select{
    width: 250px;
    height: 50px;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
}